.cpc th, td {
	padding: 0 15px 0 15px;
}

.cpc tr:nth-child(even){
	background-color:white;
}

.cpc tr:nth-child(odd){
	background-color:#eeeef1;
}

.cpc th{
	background-color:#057f99;
	color: white;
}

.cpc-evidence {
	background-color: #eaec8e !important;
}

.cpc-number{
	text-align: right;
	font-family: "Courier New", Courier, mono;
	font-weight: bold;
}

.cpc a{
	color:#057f99;
	text-decoration: none;
}