.wp-list-table .column-downloaded {
	text-align:right !important;
	width: 15%;
}

.wp-list-table .column-minimum {
	text-align:center !important;
	width: 15%;
}

.cpc-bad-news a, .cpc-bad-news span{
	color: #CA4A1F !important;
}